# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
**/*.tfvars
**/crash.log

#ansible
ansible/group_vars/all.yml

# Node
**/node_modules/
**/dist/

# Env / secrets
.env
**/.env

# SSH
*.pem
todoapp-key
todoapp-key.pub